---
import Section from '@/components/Section.astro'
import { isLangSpanish } from '@/lib/utils'
import { basics } from '@cv'
import { basics as basicsES } from '@cv-es'
import { about, aboutES } from '@texts'

//Translations
const { url } = Astro.request
const isSpanish = isLangSpanish(url)

const { summary } = isSpanish ? basicsES : basics
const { title } = isSpanish ? aboutES : about
---

<Section 
    title={title}
    customClass="about"
>
    <p>
        {summary}
    </p>
</Section>
