---
import Section from "@/components/Section.astro";
import { isLangSpanish } from "@/lib/utils";
import { basics } from "@cv";
import { basics as basicsES } from "@cv-es";

//Translations
const { url } = Astro.request;
const isSpanish = isLangSpanish(url);

const title = isSpanish ? "Sobre mí" : "About";
const { summary } = isSpanish ? basicsES : basics;
---

<Section title={title}>
    <p>
        {summary}
    </p>
</Section>
