---
import Section from '@/components/Section.astro'
import { isLangSpanish } from '@/lib/utils'
import { languages } from '@cv'
import { languages as languagesES } from '@cv-es'
import { languagesTexts, languagesTextsES } from '@texts'

//Translations
const { url } = Astro.request
const isSpanish = isLangSpanish(url)

const data = isSpanish ? languagesES : languages
const { title } = isSpanish ? languagesTextsES : languagesTexts
---

<Section 
    title={title}
    customClass="languages"
>
    <ul class="cv-list languages">
        {
            data &&
                data.map(({ language, fluency }) => (
                    <li>
                        <article class="cv-item">
                            <h3>{language}</h3>
                            <p>{fluency}</p>
                        </article>
                    </li>
                ))
        }
    </ul>
</Section>

<style>
    .cv-list.languages {
        flex-direction: row;
        gap: 24px;
    }

    .cv-list.languages h3 {
        font-size: 1.1rem;
    }
</style>
