---
import Section from '@/components/Section.astro'
import { isLangSpanish } from '@/lib/utils'
import { projects } from '@cv'
import { projects as projectsES } from '@cv-es'
import { projectsTexts, projectsTextsES } from '@texts'

//Translations
const { url } = Astro.request
const isSpanish = isLangSpanish(url)

const data = isSpanish ? projectsES : projects
const { title } = isSpanish ? projectsTextsES : projectsTexts
---

<Section
    title={title}
    customClass="projects"
>
    <ul>
        {
            data &&
                data.map(({ name, url, description }) => (
                    <li>
                        <a
                            href={url}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="project-link"
                        >
                            <article class="proyect-card">
                                <h3>{name}</h3>
                                <p>{description}</p>
                            </article>
                        </a>
                    </li>
                ))
        }
    </ul>
</Section>

<style>
    ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
    }

    .proyect-card {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 16px;
        height: 100%;
        border-radius: 6px;
        border: 1px solid var(--color-neutral-1);
    }

    .proyect-card:hover {
        background-color: var(--button-hover);
        transition: all 0.3s ease;
    }

    .project-link:hover, 
    .project-link:focus,
    .project-link:active {
        text-decoration: none;
    }
</style>
